export("MRdirection")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "legend", "lines")
importFrom("stats", "cor", "glm", "lm", "pnorm", "qnorm", "rbinom", "rnorm")
importFrom("utils", "write.table")
